*::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

*:focus,
* {
  outline: none;
  box-shadow: none;
}

* {
  overflow-x: hidden;
  font-family: sans-serif;
  color: var(--Accent);
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: all 250ms ease-out;
  -moz-transition: all 250ms ease-out;
  -o-transition: all 250ms ease-out;
  -ms-transition: all 250ms ease-out;
  transition: all 250ms ease-out;
}

html,
body {
  background-color: var(--Gray6);
  overflow: scroll;
}

.title {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.content {
  position: absolute;
  top: 0;
  left: 16px;
  right: 16px;
  padding-top: 364px;
  overflow-x: hidden;
  overflow-y: visible;
  background-position: right 64px;
  background-attachment: scroll;
  background-size: 300px;
  background-repeat: no-repeat;
}

.content.invis {
  left: 0;
  right: 100%;
}

.content div:not(.marvel-device, .marvel-device *) {
  margin: 32px 0;
}

.content div div:not(.marvel-device, .marvel-device *) {
  margin: 16px 16px;
}

ul li {
  cursor: pointer;
}

@media only screen and (min-width: 1024px) {
  .content {
    background-size: 400px;
    right: 128px;
  }
}

#p1 {
  background-image: url(../img/illustrations/undraw_privacy_protection_nlwy.svg);
}

#p2 {
  background-image: url(../img/illustrations/undraw_code_review_l1q9.svg);
}

#p3 {
  background-image: url(../img/illustrations/undraw_open_source_1qxw.svg);
}

p,
a,
li {
  font-size: 18px;
  max-width: 100%;
  word-wrap: normal;
  line-height: 24px;
}

.menu {
  width: 100%;
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  left: 0;
  background-color: rgba(199, 199, 204, 0.5);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}

@media (prefers-color-scheme: dark) {
  .menu {
    background-color: rgba(72, 72, 74, 0.5);
  }
}

@media only screen and (min-width: 526px) {
  .mobile {
    display: none;
  }
}

@media only screen and (max-width: 525px) {
  .desktop {
    display: none !important;
  }

  .mobile.demo {
    display: inline-block !important;
    float: none !important;
  }
}

.menu td {
  color: var(--Accent);
  text-align: center;
  padding: 8px;
}

.menu th {
  text-align: left;
  padding: 8px;
}

table {
  width: 100%;
}

.desktop.demo {
  float: right;
  --scale: 0.3;
  height: calc(1920px * var(--scale));
  width: calc(1080px * var(--scale));
  border-radius: 1em;
  border-color: var(--Gray4);
  border-style: solid;
  border-width: 4px;
  box-sizing: border-box;
}

.mobile.demo {
  float: right;
  margin: 16px;
  cursor: pointer;
  padding: 16px;
  font-size: 24px;
  display: block;
  background: linear-gradient(to bottom right, var(--Blue), var(--Indigo));
  color: var(--Accent);
  border: 0px none transparent;
  border-radius: 8px;
}

.mobile.demo:hover {
  -webkit-box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.025);
  -moz-transform: scale(1.025);
  transform: scale(1.025);
}