a {
    cursor: pointer;
    display: inline;
    position: relative;
    color: var(--Accent);
    text-decoration: none;
}

a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--Accent);
    visibility: hidden;
    transform: scaleX(0);
    transition: all 200ms ease-in-out 0ms;
}

a:hover::before {
    visibility: visible;
    transform: scaleX(1);
}