:root {
  --color: var(--Blue);
  --header-hight: 40px;
}

button {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  padding: 0;
}

*:focus,
* {
  outline: none;
  box-shadow: none;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow: auto;
}

*::-webkit-scrollbar {
  display: none;
}

*:not(textarea):not(input):not(#connectHashTxt):not(#chat #msg):not(#msgText) {
  outline: none;
  overflow: hidden;
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Likely future */
}

html,
body {
  overflow: hidden !important;
  background-color: #000000;
}

* {
  font-family: sans-serif;
  color: var(--Accent);
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.svgButton svg,
.svgButton svg * {
  fill: var(--color);
}

.svgButton svg {
  width: var(--header-hight);
}

hr {
  border: 1px solid var(--Gray3);
  border-radius: 2px;
}
