#splashScreen {
  background-color: var(--Gray6);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: 500ms;
  opacity: 1;
  z-index: 999;
}

#splashScreen h1,
#usrNamErrorSpan,
#pwdErrorSpan {
  color: white;
}

#splashScreen #SplashTitle {
  width: 100%;
  margin-top: 10%;
  text-align: center;
  font-size: 64px;
  margin-bottom: 32px;
  transition: 250ms;
}

#splashScreen .SplashEntryField input {
  width: calc(100% - (28px + 8px));
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
  background-color: transparent;
  color: var(--Gray6);
  font-size: 24px;
  border: none;
  outline: none;
}

#splashScreen .SplashEntryField #visPwd {
  width: 28px;
}

#splashScreen .SplashEntryField * {
  display: inline;
}

#splashScreen #loginControl button,
#splashScreen #loginControl .SplashEntryField {
  padding: 8px;
  font-size: 24px;
  color: var(--Gray6);
  border: none;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.5);
  display: block;
  margin: 16px calc(50% - 133px);
  width: 250px;
  height: 25px;
}

#splashScreen #loginControl button {
  text-align: center;
  height: unset;
}

#splashScreen input {
  text-align: center;
}

#splashScreen #loginControl button:not(#loginBtn),
#splashScreen #loginControl .SplashEntryField {
  background-color: var(--Gray);
}

#splashScreen .SplashEntryField:hover,
#splashScreen button:hover,
#splashScreen button:disabled {
  -webkit-box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.5);
  -webkit-filter: brightness(0.5);
  filter: brightness(0.5);
  -webkit-transform: scale(1.025);
  -moz-transform: scale(1.025);
  transform: scale(1.025);
}

#splashScreen input[type="password"] {
  -webkit-text-security: disc;
}

#loginBtn {
  background-color: var(--color);
}

#loginControl {
  opacity: 0;
  padding: 0;
  margin: 0;
  position: absolute;
  max-width: 100%;
  right: 0;
  bottom: 16px;
  left: 0;
  transition: 250ms;
}

@media only screen and (max-height: 400px) {
  #loginControl {
    top: 0 !important;
  }
  #SplashTitle {
    opacity: 0;
  }
}

#splashScreen button.error {
  background-color: var(--Red) !important;
}

#splashScreen p.error,
#splashScreen input.error {
  color: var(--Red);
}

#splashScreen p {
  width: 100%;
  text-align: center;
  -webkit-transform: translateY(16px);
  -moz-transform: translateY(16px);
  -ms-transform: translateY(16px);
  -o-transform: translateY(16px);
  transform: translateY(16px);
}

#splashLoading {
  opacity: 0;
  transition: 500ms;
}
